body{
	
	color: black;
	background-color:white;
	text-align: center
}
#navigation {
    width:100%;
    background-color: none;
    color:blue;
    height: 35px;
    text-align:center;
    padding-top: 15px;
    position: fixed;
}
#navigation a {
    font-size:14px;
    padding-left:15px;
    padding-right:15px;
    color:white;
    text-decoration:none;
}
#navigation a:hover {
    color:blue; }